*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(217, 54%, 11%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card {
    width: 21rem;
    background-color: hsl(216, 50%, 16%);
    border-radius: 1rem;
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    padding: 1em;
}
.icon-area {
    position: relative;
    width: 100%;
}
.image img{
    width: 100%;
    border-radius: 1rem;
}
.image-filter{
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: hsl(178, 100%, 50%, 0.8);
    opacity: 0;
}
.image-filter:hover {
    opacity: 0.6;
    cursor: pointer;
} 
.title {
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    margin-bottom: 1em;
    margin-top: 1em;
}
.description {
    color: hsl(215, 51%, 70%);
    font-weight: 400;
    margin-bottom: 1em;
}
.container {
    display: flex;
    justify-content: space-between;
}
.creator {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1em;
    border-top: 1px solid hsl(215, 51%, 70%);
}
#eth {
    color: hsl(178, 100%, 50%);
    font-weight: 600;
    margin-bottom: 1em;
    display: inline;
}
#left {
    color: hsl(215, 51%, 70%);
    font-weight: 400;
    margin-bottom: 1em;
}
#avatar {
    width: 2em;
    border: 1px solid white;
    border-radius: 50%;
}
#jules {
    margin-left: 0.5em;
}
.white {
    color: white;
}
#creat {
    color: hsl(215, 51%, 70%);
}

.cyan:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}


